/* vars */

@import "vars/breakpoints";
@import "vars/fonts";
@import "vars/colors";
@import "vars/transitions";
@import "vars/buttons";

$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;

/* tab setting */
$tab-count: 5;
$indicator-width: 200px;
$indicator-height: 5px;
$indicator-height-mobile: 3px;

/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector
) {
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: #f7f8fa;
  color: $dark;
  font-family: $main-font;
  height: 100%;
  overflow-x: hidden;
  h1 {
    text-align: center;
    color: $accent;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0;
  }
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

.navbar {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.1rem 1rem;
  transition: $fast-transition;

  &.nav-sticky {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    transition: all 0.5s;
  }
  @media (max-width: $screen-767) {
    padding: 12px 1rem;
    .navbar-brand {
      &:first-child {
        img {
          vertical-align: middle !important;
          height: 0.8em;
        }
      }
    }
  }
  @media (max-width: $screen-991) {
    &.navbar-mobile {
      background-color: white;
    }
  }
  .btn-main {
    width: 145px;
    padding: 10px 20px;

    &.btn-main-mobile {
      width: 117px;
      margin-right: 15px;
      padding: 8px 0px;
      @media (min-width: $screen-991 + 1) {
        display: none;
      }
    }
    &.btn-main-desktop {
      @media (max-width: $screen-991) {
        display: none;
      }
    }
  }
  .navbar-toggler {
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent;
    &.collapsed {
      background-color: transparent;
      border-radius: 0;
      span.icon-bar {
        background-color: $dark-second;
      }
    }

    &:not(.collapsed) {
      background-color: transparent;
      .icon-bar {
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transform: translateX(0);
        }

        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }

    span.icon-bar {
      display: block;
      width: 22px;
      height: 3px;
      margin: 0 0 5px;
      background-color: $blue-primary;
      transition: opacity, transform;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);

      &:last-child {
        margin: 0;
      }
    }
  }
  .navbar-collapse {
    transition: $fast-transition;

    @media (min-width: $screen-991 + 1) {
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: $screen-991) {
      padding: 40px 10px;
      height: calc(100vh - 64px);
    }

    &:not(.show) {
      @media (max-width: $screen-991) {
        opacity: 0;
      }
    }
    .navbar-nav {
      align-items: center;
      transition: $fast-transition;
      a:hover {
        color: rgb(34, 99, 92);
      }
      .btns-group-collapsed {
        display: none;
      }

      .nav-item {
        color: $dark-second;

        &:nth-child(-n + 2) {
          margin-right: 50px;
        }
        img {
          margin-right: 10px;
          &:hover {
            color: rgba(7, 150, 135, 1);
          }
        }
        @media (max-width: $screen-991) {
          display: inline-flex;
          justify-content: flex-start;
          margin: 0;
          width: fit-content;
          font-size: 24px;
          &.navbar-brand {
            position: fixed;
            padding-top: 36px;
            font-size: 16px;
            bottom: 40px;
            align-items: center;
          }
        }
      }
      @media (max-width: $screen-991) {
        align-items: flex-start;
        .btns-group-collapsed {
          position: fixed;
          bottom: 105px;
          display: inline-block;

          img {
            border-radius: 6px;
            margin-right: 10px;
            max-width: 114px;
          }
        }
      }
    }

    .navbar-phones {
      text-align: right;
      display: flex;

      @media (max-width: $screen-991) {
        margin-top: 20px;
        text-align: left;
      }

      a {
        font: 500 16px/1 $dark-second;
        white-space: nowrap;
        color: $dark-second;
        padding: 0;
        text-decoration: none !important;

        &:first-child {
          margin-right: 20px;
        }

        &:hover {
          color: $blue-primary;
        }

        @media (max-width: $screen-1199) {
          font-size: 15px;
        }

        span {
          margin-right: 5px;

          img {
            max-width: 24px;
          }
        }
      }
    }
  }
}

main {
  .head-text {
    max-width: 100vw;
    padding-top: 16vh;

    h1 {
      text-align: left;

      padding-bottom: 30px;
      font-size: 60px;
      color: $dark-second;
      span {
        font-weight: bold;
      }
    }

    p {
      padding-right: 40px;
      font-size: 20px;
      color: $gray;
      padding-bottom: 40px;
      margin: 0 auto;
    }

    .btn-main {
      padding: 12px 46px;
    }

    .btns-group {
      padding-top: 30px;
      img {
        border-radius: 6px;
        margin-right: 10px;
        max-width: 114px;
      }
    }
    .head-mobile-image {
      display: none;
    }
    .head-carousel {
      .swiper-container {
        z-index: 10;
        .swiper-slide {
          align-items: center;
          display: flex;
          img {
            align-items: center;
            display: block;
            width: 100%;
            margin: 0 auto;
          }
        }
        .swiper-pagination {
          bottom: 0px;
          .swiper-pagination-bullet {
            background-color: white;
            opacity: 1;
            &-active {
              background-color: $blue-second;
            }
          }
        }
      }
    }
    @media (max-width: $screen-1199) {
      h1 {
        padding-top: 0px;
        padding-bottom: 15px;
        margin-left: 10px;
        font-size: 40px;
        line-height: 100%;
        span {
          font-weight: bold;
        }
      }
      p {
        font-size: 16px;
        margin-left: 10px;
        padding-bottom: 20px;
        line-height: 100%;
      }
      .btns-group {
        margin-left: 10px;
      }
      .btn-main {
        margin-left: 10px;
      }
      .head-carousel-col {
        z-index: 6;
        padding-right: 0;
        .head-carousel {
          display: none;
        }
        .head-mobile-image {
          display: block;
          margin-top: 8px;
          text-align: right;
          img {
            width: 528px;
            height: auto;
          }
        }
      }
    }

    @media (max-width: $screen-991) {
      padding-top: 50px;
      .btns-group {
        display: none;
      }
      .head-carousel-col {
        z-index: 6;
        padding-right: 0;
        .head-carousel {
          display: none;
        }
        .head-mobile-image {
          display: block;
          margin-top: 20px;
          text-align: right;
          img {
            width: 80vw;
            height: auto;
          }
        }
      }
    }
    @media (max-width: $screen-767) {
      padding-top: 0px;
      h1 {
        padding-top: 0px;
        padding-bottom: 15px;
        margin-left: 10px;
        font-size: 26px;
        line-height: 100%;
        span {
          font-weight: bold;
        }
      }
      p {
        font-size: 15px;
        margin-left: 10px;
        padding-bottom: 20px;
        line-height: 100%;
      }
      .btns-group {
        display: none;
      }
      .btn-main {
        margin-left: 10px;
      }
      .head-carousel-col {
        z-index: 6;
        padding-right: 0;
        .head-carousel {
          display: none;
        }
        .head-mobile-image {
          display: block;
          margin-top: 8px;
          text-align: right;
          img {
            width: 80vw;
            height: auto;
          }
        }
      }
    }
  }
  .diagonal-box {
    // margin-bottom: 120px;
    position: relative;
    z-index: 5;
    transition: 0.5s ease-in-out;
    &:before {
      z-index: 5;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(
        176deg,
        rgba(7, 150, 135, 1) 0%,
        rgba(13, 173, 156, 1) 40%,
        rgba(36, 211, 197, 1) 75%,
        rgba(28, 220, 200, 1) 100%
      );
      transform: skewY(-20deg);
    }
    &.translateDown {
      transform: translateY(5vh);
    }
    .content {
      position: relative;
      min-width: 100vw;
      height: 205px;
      margin: 0 auto;
    }
    @media (max-width: $screen-1367) {
      &.translateDown {
        transform: translateY(0vh);
      }
    }

    @media (max-width: $screen-575) {
      .content {
        height: 60px;
      }
    }
  }

  .home-row-icons {
    min-width: 100vw;
    padding-top: 15vh;
    margin-bottom: 70px;
    .icons-row {
      img {
        padding-left: 1.4vw;
      }
    }
    @media (max-width: $screen-1367) {
      margin-bottom: 20px;
    }
    @media (max-width: $screen-991) {
      // padding-top: 0;
      margin-bottom: 25px;
      .icons-row {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          padding-left: 26px;
        }
      }
    }
    @media (max-width: $screen-767) {
      margin-bottom: 25px;
      padding-top: 5vh;
      .icons-row {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-height: 22px;
          padding-left: 20px;
        }
      }
    }
    @media (max-width: $screen-575) {
      padding-top: 0;
      margin-bottom: 25px;
      .icons-row {
        display: flex;
        // justify-content: center;
        align-items: center;
        img {
          max-height: 13px;
          padding-left: 17px;
        }
      }
    }
  }

  .foreveryclub-section {
    min-width: 100vw;
    margin-bottom: 20px;
    .leftside-text {
      h1 {
        font-size: 40px;
        text-align: left;
        color: $dark-second;
      }
      p {
        font-size: 16px;
        line-height: 1.2;
        color: $gray;
      }
      h3 {
        font-size: 20px;
        font-weight: bold;
        color: $dark-second;
      }
    }
    .rightside-text {
      h2 {
        padding-top: 100px;
        font-size: 20px;
        font-weight: 300;
        color: $accent;
      }
      p {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.75;
        color: $gray;
        font-family: $sub-font;
      }
      h3 {
        display: none;
      }
    }
    @media (max-width: $screen-1367) {
      margin-bottom: 0px;
    }
    @media (max-width: $screen-1024) {
      margin-bottom: 20px;
    }
    @media (max-width: $screen-991) {
      .leftside-text {
        h1 {
          padding-top: 0;
          font-size: 22px;
        }
        p {
          font-size: 15px;
        }
        h3 {
          display: none;
        }
      }
      .rightside-text {
        h2 {
          padding-top: 5px;
          font-size: 15px;
        }
        p {
          font-size: 15px;
        }
        h3 {
          padding-top: 25px;
          display: block;
          font-size: 20px;
          font-weight: bold;
          color: $dark-second;
        }
      }
    }
    @media (max-width: $screen-767) {
      margin-bottom: 60px;
      padding-left: 10px;
      .leftside-text {
        h1 {
          padding-top: 0;
          font-size: 22px;
        }
        p {
          font-size: 15px;
          margin-bottom: 5px;
        }
        h3 {
          display: none;
        }
      }
      .rightside-text {
        h2 {
          padding-top: 5px;
          font-size: 15px;
        }
        p {
          font-size: 15px;
          margin-bottom: 1rem;
        }
        h3 {
          display: block;
          padding-top: 0px;
          font-size: 20px;
          font-weight: bold;
          color: $dark-second;
          margin-bottom: 20px;
        }
      }
    }
  }

  .three-numbers-section {
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    margin-top: 45px;
    min-height: 147px;
    background: linear-gradient(
      90deg,
      rgba(7, 150, 135, 1) 0%,
      $blue-primary 100%
    );
    margin-bottom: 0px;

    h1 {
      padding-top: 30px;
      font-size: 50px;
      font-weight: bold;
      line-height: 0.7;
      color: white;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      color: white;
      margin-bottom: 20px;
    }
    hr {
      margin: 10px auto;
      padding: 0;
      height: 4px;
      width: 46px;
      border: none;
      background-color: $blue-second;
    }
    @media (max-width: $screen-767) {
      min-height: 110px;
      height: 110px;
      position: absolute;
      top: calc(var(--app-height) - 110px);
      overflow-x: scroll;
      margin-top: 0px;
      &.three-numbers-swipe-row {
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        -webkit-scroll-snap-type: x mandatory;
        .three-numbers-swipe-content {
          scroll-snap-align: start;
          display: flex;
          flex-direction: column;
        }
      }
      .row {
        padding: 0px;
        flex-wrap: nowrap;
      }

      h1 {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 40px;
      }
      p {
        font-size: 15px;
        margin-bottom: 0;
      }
      hr {
        margin: 5px auto;
      }
    }
  }

  .container-for-swiper {
    max-width: 100vw;
    padding: 0;
    padding-right: 40px;
    margin: 0 auto;
    .swiper-carousel-left-side {
      padding-left: 120px;
      z-index: 3;
      background: #f7f8fa;
      align-items: center;
      h1 {
        padding-top: 125px;
        text-align: left;
        font-family: $main-font;
        font-size: 26px;
        font-weight: bold;
        color: $dark-second;
      }
      p {
        font-family: $sub-font;
        font-size: 15px;
        color: $gray;
      }
      .slider-controls {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 0 auto;
        .swiper-button-prev {
          right: 0;
          left: 0;
          position: relative;
          border-radius: 50%;
          height: 42px;
          width: 42px;
          background-color: #efedf1;
          font-size: 15px;
          color: #40403f;
          text-align: center;
          line-height: 30px;
          padding-top: 0.1rem;
          margin: 0.2rem;
          &::after {
            content: "";
          }
          &:hover {
            cursor: pointer;
            color: #fff;

            background: linear-gradient(
              45deg,
              rgba(13, 173, 156, 1) 0%,
              rgba(28, 220, 200, 1) 100%
            );
            border: none;
          }
        }
        .swiper-button-next {
          @extend .swiper-button-prev;
        }
      }

      .swiper-carousel-pagination {
        margin-top: 20px;
        margin-left: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
        .swiper-pagination-bullet {
          // border-radius: 50%;
          height: 12px;
          width: 2px;
          margin: 0.3rem;
          margin-right: 4px;
          background: $gray-second;
          border-radius: 0;
          opacity: 1;
          // border: 1px solid #6e6e6e;
          &:hover {
            cursor: pointer;
          }
          &-active {
            background: $blue-second !important;
          }
        }
      }
    }

    .swiper-carousel {
      padding-left: 25px;
      min-height: 700px;
      padding-top: 100px;
      overflow: visible;
      .swiper-carousel-right-side {
        // width: 50vw;
        .swiper-slide {
          min-height: 442px;
          min-width: 293px;
          transition: all 0.5s;
          background-color: white;
          border: 0.5px solid rgba(221, 221, 221, 1);
          box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
          &-active {
            transform: scale(1.1);
          }
          &.swiper-slide-prev {
            box-shadow: none;
          }
          &.card {
            border-radius: 4px;
            .card-header {
              background-color: white;
              border: 0;
              padding: 20px;
            }
            .card-body {
              padding: 0 20px 20px;
              img {
                margin-bottom: 20px;
              }
              p {
                font-size: 15px;
                margin-bottom: 0.5rem;
                transition: all 1s;
                // opacity: 0;
              }
            }
            .card-bottom {
              padding: 0 20px 20px;
              p {
                font-family: $sub-font;
                font-size: 15px;
                margin-bottom: 0;
                line-height: 1;
                color: $dark-second;
              }
              span {
                font-family: $sub-font;
                font-size: 15px;
                font-weight: bold;
                color: $dark-second;
              }
            }
            .vimeoBtn {
              position: absolute;
              width: 75px;
              height: 75px;
              border: none;
              border-radius: 40px;
              margin: 0 auto;
              top: 65px;
              left: calc(50% - 40px);
              background-color: rgba(7, 150, 135, 0.9);
              &:focus {
                box-shadow: none;
                outline: none;
              }
              img {
                margin-left: 7px;
                width: 34px;
                height: 39px;
              }
            }
          }
        }
      }
    }
    @media (max-width: $screen-1199) {
      padding: 0px;
      .swiper-carousel-left-side {
        padding-left: 70px;
      }
      .swiper-carousel {
        padding-left: 15px;
      }
    }
    @media (max-width: $screen-991) {
      padding: 0 20px;
      .swiper-carousel-left-side {
        margin: 0 auto;
        padding-left: 20px;
        h1 {
          margin: 0 auto;
          width: 80%;
          padding-top: 40px;
          text-align: center;
        }
        p {
          margin: 0 auto;
          width: 80%;
          text-align: center;
          padding-bottom: 30px;
        }
        .slider-controls {
          justify-content: center;
        }
        .swiper-carousel-pagination {
          display: none;
        }
      }
      .swiper-carousel {
        padding-top: 60px;
        min-height: auto;
      }
    }
    @media (max-width: $screen-767) {

      .swiper-carousel-left-side {
        padding-left: 20px;
        h1 {
          margin: 0 auto;
          width: 80%;
          padding-top: 10px;
          text-align: center;
        }
        p {
          margin: 0 auto;
          width: 80%;
          text-align: center;
          padding-bottom: 10px;
        }
        .slider-controls {
          justify-content: center;
        }
        .swiper-carousel-pagination {
          display: none;
        }
      }
      .swiper-carousel {
        padding-left: 0px;
        padding-top: 40px;
        min-height: auto;
        .swiper-slide {
          &-active {
            transform: scale(1.02) !important;
          }
        }
      }
    }
  }

  .three-numbers-section-2 {
    min-width: 100vw;
    @extend .three-numbers-section;
    position: relative !important;
    top: 0;
    margin-top: 70px;
    min-height: 243px;
    display: flex;
    align-items: center;
    button {
      position: absolute;
      top: 18px;
      margin-top: 5px;
      padding: 12px 70px;
    }
    @media (max-width: $screen-991) {
      margin-top: 0px;
      margin-bottom: 60px;
      // overflow: hidden;
      .numbers-row {
        flex-wrap: wrap;
      }
      .button-row {
        position: relative;
        flex-wrap: wrap;
        .btn {
          top: 18px;
        }
      }
    }
    @media (max-width: $screen-767) {
      position: relative;
      overflow: initial;
      padding-top: 50px;
      min-height: 460px;
      max-height: 460px;
      margin-top: 0px;
      margin-bottom: 60px;
      align-items: flex-start;
      .numbers-row {
        .numbers-col {
          margin-bottom: 30px;
        }
      }
      .btn {
        position: absolute;
        top: 12px !important;
        z-index: 2;
      }
    }
  }

  .blog-section {
    min-width: 100vw;
    margin-bottom: 60px;
    .card-mobile {
      display: none;
    }
    h1 {
      font-size: 26px;
      font-weight: bold;
      color: $dark-second;
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .card {
      min-height: 392px;
      border: 0.5px solid rgba(221, 221, 221, 1);
      box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
      .card-header {
        background-color: white;
        border: 0;
        padding: 20px;
      }
      .card-body {
        padding: 0 20px 20px;
        h3 {
          font-size: 18px;
          font-weight: bold;
          color: $dark-second;
        }
        p {
          font-family: $sub-font;
          font-size: 15px;
          color: $gray;
        }
      }
      .card-bottom {
        padding: 0 20px 20px;
        p {
          font-family: $sub-font;
          font-size: 12px;
          color: $dark-second;
          margin-bottom: 0;
        }
      }
    }
    button {
      padding-top: 5px;
      padding: 12px 70px;
    }
    @media (max-width: $screen-991) {
      h1 {
        margin-top: 0px;
      }
      .row {
        justify-content: center;
      }
      .card-desktop {
        display: none;
      }
      .card-mobile {
        display: block;
        min-height: 170px;
        margin-bottom: 20px;

        .card-body {
          // min-height: 170px;
          padding: 20px;
          .row {
            min-height: 130px;
          }

          img {
            position: absolute;
            top: 0;
            left: -25px;
            z-index: 10;
            clip: rect(auto 170px 130px 40px);
            height: 130px;
            width: auto;
          }
          h3 {
            padding-top: 16px;
            padding-left: 5px;
            line-height: 1.15;
          }
          p {
            position: absolute;
            bottom: 0px;
            font-size: 12px;
            padding-left: 5px;
            color: $dark-second;
          }
        }
      }
    }
  }

  .stress-free-section {
    min-width: 100vw;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 288px;
    background: linear-gradient(
      90deg,
      rgba(7, 150, 135, 1) 0%,
      rgba(13, 173, 156, 1) 100%
    );
    h1 {
      // padding-top: 0px;
      padding-bottom: 40px;
      text-align: left;
      color: white;
      font-size: 44px;
      span {
        font-weight: bold;
      }
    }
    .submitbtn {
      justify-content: center;
      display: flex;
      align-items: center;
    }
    .btn {
      padding: 12px 44px;
    }
    @media (max-width: $screen-1199) {
      h1 {
        font-size: 30px;
      }
    }
    @media (max-width: $screen-991) {
      min-height: 288px;
      h1 {
        font-size: 26px;
        padding-top: 0px;
        padding-bottom: 30px;
      }
    }
    @media (max-width: $screen-767) {
      text-align: left;
      h1 {
        text-align: left;
        font-size: 26px;
        padding-bottom: 30px;
      }
      .submitbtn {
        justify-content: left;
      }
      button {
        text-align: left;
      }
    }
  }
}

.footer {
  min-width: 100vw;
  min-height: 413px;
  padding-top: 100px;

  .footer-social {
    position: relative;
    margin-top: 50px;
    a {
      display: inline-block;
      &:last-child i {
        margin: 0;
      }
      &:hover i {
        color: lighten(#3d3d3c, 10%);
      }
      i {
        margin-right: 40px;
        font-size: 32px;
        color: #3d3d3c;
      }
    }
  }
  .footer-link {
    h3 {
      font-family: $main-font;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    a {
      font-family: $sub-font;
      display: block;
      margin-bottom: 10px;
      color: $gray;
      font-size: 16px;
      text-decoration: none;
    }
  }
  @media (max-width: $screen-767) {
    padding: 100px 24px 0;
    .footer-social {
      margin-bottom: 54px;
    }
    .footer-link {
      margin-bottom: 40px;
    }
  }
}
.copyright-section {
  min-width: 100vw;
  min-height: 80px;
  display: flex;
  align-items: center;
  background-color: white;
  .row {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  P {
    margin: 0;
    a {
      margin: 0 !important;
      font-family: $sub-font;
      display: block;
      margin-bottom: 10px;
      color: $dark-second;
      font-size: 16px;
      text-decoration: none;
    }
  }
  @media (max-width: $screen-767) {
    min-height: 80px;
    align-items: flex-start;
    p {
      padding-left: 10px;
      span {
        display: none;
      }
    }
  }
}

.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 20;
  background: rgba(247, 248, 250, 0.7);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 123px;
  border-top: 0.5px solid rgba(221, 221, 221, 0.7);
  border-bottom: 0.5px solid rgba(221, 221, 221, 0.7);
  transition: all 0.1s ease;

  min-width: #{$tab-count * 60px};
  input[name="tab-control"] {
    display: none;
  }

  &.fullscreen {
    margin-top: 79px !important;
    z-index: 20;
    width: 100%;
    height: 56px;
    position: fixed !important;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    border-top: none;
    border-bottom: 0.5px solid rgba(221, 221, 221, 0.7);
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    transition: all 0.2s ease;
    .content {
      display: block;
    }
    ul {
      // background-color: white;
      padding: 12px 50px;
      label {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    svg {
      display: none;
    }
  }

  ul li label {
    font-family: $main-font;
    font-weight: 400;
    font-size: 18px;
    color: $accent;
  }

  ul {
    list-style-type: none;
    padding: 24px 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    li {
      box-sizing: border-box;
      flex: 1;
      width: #{100% / $tab-count};
      padding: 0 10px;
      text-align: center;

      label {
        transition: all 0.3s ease-in-out;
        color: $secondary;
        padding: 5px auto;
        margin-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        span {
          &.desktopText {
            display: block;
          }
          &.mobileText {
            display: none;
          }
        }

        svg {
          fill: $secondary;
          height: 2em;
          vertical-align: middle;
          // margin-right: 0.2em;
          margin-bottom: 0.2em;
          margin-top: 0.2em;
          transition: all 0.2s ease-in-out;
        }

        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);
          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }

  .slider {
    margin-left: 50px;
    position: relative;
    width: calc((100vw - 100px) / 5);
    transition: all 0.2s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;
    }
  }

  input[name="tab-control"] {
    @include tabs {
      > label {
        cursor: default;
        color: $accent;

        svg {
          fill: $accent;
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      margin-left: 5%;
    }
    to {
      opacity: 1;
      margin-left: 0;
    }
  }
  @media (max-width: $screen-575) {
    ul li label {
      white-space: none;

      br {
        display: initial;
      }

      svg {
        height: 1.6em;
      }
    }
  }
  @media (max-width: $screen-1367) {
    margin-top: 0px;
  }

  @media (max-width: $screen-1024) {
    ul li {
      label {
        span {
          &.desktopText {
            display: none;
          }
          &.mobileText {
            display: block;
            padding-top: 4px;
          }
        }
      }
    }
  }

  @media (max-width: $screen-991) {
    margin-top: 50px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    &.fullscreen {
      margin-top: 75px !important;
      ul {
        width: 1024px;
        li {
          padding: 0;
        }
      }
      .slider {
        display: block !important;
        width: calc((1024px - 100px) / 5);
        margin-top: 0px;
        margin-left: 50px;
        .indicator {
          position: relative;
          width: 180px;
          max-width: 100%;
          margin: 0 auto;
          height: $indicator-height;
          background: $accent;
          border-radius: 1px;
        }
      }
    }
  }

  @media (max-width: $screen-767) {
    height: 77px;
    margin-top: -56px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    ul {
      width: 680px !important;
      align-items: flex-start;

      padding: 12px 15px;
      padding-bottom: 0px !important;
      li {
        align-items: center;
        padding: 0;
        label {
          span {
            font-size: 15px;
            &.mobileText {
              padding-top: 4px;
            }
          }
          svg {
            margin: 0 auto;
            align-items: center;
            display: block !important;
          }
          br {
            display: none;
          }
        }
      }
    }
    .slider {
      display: block !important;
      width: calc((680px - 40px) / 5);
      margin-top: 4px;
      margin-left: 20px;
      .indicator {
        position: relative;
        width: 136px;
        max-width: 100%;
        margin: 0 auto;
        height: $indicator-height-mobile;
        background: $accent;
        border-radius: 1px;
      }
    }
    &.fullscreen {
      margin-top: 64px !important;
      height: 44px;
      display: block !important;
      flex: none !important;
      ul {
        padding: 6px 15px !important;
        label {
          display: block;
        }
        svg {
          display: none !important;
        }
      }
      .slider {
        display: block !important;
        width: calc((680px - 40px) / 5) !important;
        margin-top: 1px;
        margin-left: 20px;
        .indicator {
          position: relative;
          width: 136px;
          max-width: 100%;
          margin: 0 auto;
          height: $indicator-height-mobile;
          background: $accent;
          border-radius: 1px;
        }
      }
    }
    .content {
      margin-top: 20px;
      section h2 {
        display: block;
      }
    }
  }
}

.swipe-content {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  scroll-snap-stop: normal;

  // @media (max-width: $screen-767) {
  //   scroll-snap-type: y proximity;
  //   -webkit-scroll-snap-type: y proximity;
  // }
  // direction: ltr;
}

.tab-content-container {
  #slideBullets {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    right: 2.5vw;
    font-size: 40px;
    display: none;
    &.show {
      display: block;
    }
    p {
      text-align: center;
      line-height: 0.1;
      height: 10px;
      margin-bottom: 8px;
      color: $gray-second;
      &.activeBullet {
        color: $blue-second;
      }
    }
  }
}

.tab-content {
  display: none;
  animation: {
    name: content;
    direction: normal;
    duration: 0.25s;
    timing-function: ease;
    iteration-count: 1;
  }

  .stress-free-carousel {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;

    .container {
      min-width: 100vw;
      margin: 0 !important;
      margin-right: 0;
    }

    .left-side {
      z-index: 2;
      min-width: calc(100vw / 3);
      min-height: calc(100vh - 134px);
      padding: 0px 80px;
      box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
      background: linear-gradient(
        45deg,
        rgba(7, 150, 135, 1) 0%,
        rgba(13, 173, 156, 1) 100%
      );
      .getStartedTabletBtn {
        display: none;
      }
      h1 {
        padding-top: 165px;
        padding-bottom: 40px;
        text-align: left;
        color: white;
        font-size: 44px;

        span {
          font-weight: bold;
        }
      }

      button {
        padding: 12px 44px;
        margin-bottom: 40px;
        align-items: flex-start;
      }
    }

    .right-side {
      min-height: calc(100vh - 134px);
      // margin-top: 134px;
      padding-left: 0px;
      padding-right: 0px;
      h1 {
        padding-left: 54px;
        padding-bottom: 20px;
        padding-top: 40px;
        font-size: 26px;
        font-weight: bold;
        color: $dark-second;
        text-align: left;
      }

      .cards-container {
        display: flex;
        overflow-x: scroll;
        padding-right: 40px;
        padding-bottom: 50px;
        padding-top: 10px;
      }

      .card {
        min-width: 362px;
        min-height: 472px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
        margin-left: 20px;

        .card-body {
          padding: 40px 22px 0px 26px;
          h5 {
            padding-top: 16px;
            font: bold 20px;
            color: $dark-second;
          }
          p {
            font: normal 15px/1.4 $sub-font;
            color: $gray;
          }
          ul {
            font: normal 15px/1.2 $sub-font;
            color: $gray;
            padding-left: 25px;
            margin-bottom: 5px;
            li {
              padding-bottom: 8px;
              &::marker {
                color: $gray;
              }
            }
          }
        }
        .card-bottom {
          padding: 0 25px 40px;
        }
      }
    }
    @media (max-width: $screen-1199) {
      .left-side {
        padding: 0px 50px;
      }
      .right-side {
        h1 {
          padding-top: 60px;
        }
        .card {
          min-width: 310px;
          .card-body {
            padding: 40px 20px 0px 20px;
          }
          .card-bottom {
            padding: 0 20px 40px;
            .btn-seemore {
              min-width: 270px;
            }
          }
        }
      }
    }
    @media (max-width: $screen-991) {
      .left-side {
        // padding: 0px 60px ;
        min-height: 244px;
        .getStartedDesktopBtn {
          display: none;
        }
        .getStartedTabletBtn {
          display: block;
          text-align: center;
          .btn {
            margin-top: 100px;
          }
        }
        h1 {
          font-size: 26px;
          padding-top: 70px;
          padding-bottom: 30px;
          line-height: 100%;
        }
        br {
          display: none;
        }
      }
      .right-side {
        h1 {
          text-align: center;
          padding-left: 0px;
        }
      }
    }
    @media (max-width: $screen-767) {
      .left-side {
        padding: 0px 42px;
        min-height: 392px;
        .getStartedDesktopBtn {
          display: block;
        }
        .getStartedTabletBtn {
          display: none;
        }
        h1 {
          font-size: 36px;
          padding-top: 70px;
          padding-bottom: 40px !important;
        }
      }
      .right-side {
        min-height: 100vh;
        margin-bottom: 50px;
        h1 {
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 30px;
        }
        margin-top: 0px;
      }
    }
  }
  .swipe-slide {
    padding-top: 134px;
    @media (max-width: $screen-991) {
      padding-top: 200px !important;
      justify-content: start;
      &:nth-last-child(1) {
        padding-top: 132px !important;
      }
    }
    @media (max-width: $screen-767) {
      padding-top: 134px !important;
      justify-content: start;
      &:nth-last-child(1) {
        padding-top: 108px !important;
      }
    }
    .container {
      min-height: 460px;
    }
  }
  @media (max-width: $screen-991) {
    section:nth-child(2n):not(:last-child) {
      .row {
        flex-direction: column-reverse;
      }
    }
    .unique-column-reverse {
      .row {
        flex-direction: column !important;
      }
    }
  }
}

.show-content {
  display: block;
}

.swipe-slide {
  scroll-snap-align: start;
  background-color: #f7f8fa;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &.is-visible .scroll-page-picside img {
    opacity: 1;
  }
  &.swipe-slide0 {
    justify-content: start;
  }

  row {
    align-items: center;
  }
  .scroll-page-textside {
    z-index: 3;
    img {
      size: 34px;
    }
    hr {
      margin: 20px 0 30px 0;
      padding: 0;
      height: 5px;
      width: 90px;
      border: none;
      background: linear-gradient(90deg, $blue-primary, $blue-second);
    }
    h2 {
      color: $dark-second;
      font-family: $main-font;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      color: $gray;
      font-family: $sub-font;
      font-size: 15px;
      &.p-mobile-text {
        display: none;
      }
    }
    .btn {
      margin-bottom: 2rem;
    }
    .readmore-btns {
      max-height: 24px;
      &.readmore-btns-desktop {
        display: block;
      }
      &.readmore-btns-mobile {
        display: none;
      }
    }

    .btn-howtouseit {
      background-color: rgba(247, 248, 250, 0.95);
      &.hidden {
        display: none;
      }
    }
    .moretext {
      display: none;
      background-color: rgba(247, 248, 250, 0.95);
    }
  }

  .scroll-page-picside {
    .w-110-left {
      transform: scale(1.1) translateX(-5%);
    }
    .w-110-right {
      transform: scale(1.1) translateX(5%);
    }

    .w-120-left {
      transform: scale(1.2) translateX(-10%);
    }
    .w-120-right {
      transform: scale(1.2) translateX(10%);
    }

    .w-130-left {
      transform: scale(1.3) translateX(-10%);
    }
    .w-130-right {
      transform: scale(1.3) translateX(10%);
    }
  }
  @media (max-width: $screen-991) {
    padding-top: 75px !important;
    justify-content: start;
    .scroll-page-textside {
      margin: auto;
      // max-width: 70%;
      padding: 0 20vw;
      &.extended {
        background-color: rgba(247, 248, 250, 0.9);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        min-height: calc(100vh - 134px) !important;
        z-index: 2;
      }
      img {
        height: 34px;
        width: auto;
      }
      hr {
        margin: 20px 0 30px;
      }
      h2 {
        font-size: 24px;
        margin-bottom: 16px;
        line-height: 100% !important;
      }
      p {
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 120% !important;
        &.p-desktop-text {
          display: none;
        }
      }
      .readmore-btns {
        text-align: center;
        max-height: 30px;
        .btn-readmore {
          text-align: center;
          width: 30px;
          height: 30px;
          font-size: 34px;
          font-weight: 300;
          padding: 0px !important;
          margin-bottom: 20px;
          line-height: 0.7;
        }
        &.readmore-btns-desktop {
          display: none;
        }
        &.readmore-btns-mobile {
          display: block;
        }
      }
    }
    .scroll-page-picside {
      margin: auto;
      max-width: 80%;
      top: 420px;
      position: absolute;
      transform: scale(0.8) !important;
      &.additional-mobile-translateY {
        transform: translateY(20px) scale(0.8) !important;
      }
      &.additional-mobile-translateY60 {
        transform: translateY(60px) scale(0.8) !important;
      }
    }
  }
  @media (max-width: $screen-767) {
    .scroll-page-textside {
      max-width: 100%;
      padding: 0 24px;
      img {
        height: 26px;
        width: auto;
      }
      hr {
        margin: 15px 0;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 16px;
        line-height: 100% !important;
      }
      p {
        font-size: 15px;
        margin-bottom: 10px;
        line-height: 120% !important;
        &.p-desktop-text {
          display: none;
        }
      }
      .readmore-btns {
        text-align: center;
        max-height: 30px;
        .btn-readmore {
          text-align: center;
          width: 30px;
          height: 30px;
          font-size: 34px;
          font-weight: 300;
          padding: 0px !important;
          line-height: 0.7;
        }
      }
    }
    .scroll-page-picside {
      top: 325px;
      position: absolute;
      transform: translateY(0px) scale(0.8) !important;
      &.additional-mobile-translateY {
        transform: translateY(40px) scale(0.8) !important;
      }
      &.additional-mobile-translateY60 {
        transform: translateY(60px) scale(0.8) !important;
      }
    }
  }
}

#videoModal {
  .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 15vh auto 0 auto;
    @media (max-width: $screen-991) {
      margin: 20vh auto 0 auto;
    }
  }
  .modal-body {
    position: relative;
    padding: 0px;
  }
  .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    line-height: -0.5;
    color: #ffffff;
    background: $blue-primary;
    opacity: 1;
    &:focus {
      outline: none;
    }
    span {
      line-height: 0;
      position: absolute;
      top: 11px;
      left: 8px;
    }
  }
}
