/* vars */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* colors */
.btn-main {
  font: bold 16px/1 "Palanquin", sans-serif;
  background-color: #F08655;
  border-radius: 50px;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  transition: 0.15s all ease-in-out;
  color: white !important; }
  .btn-main a {
    color: white;
    text-decoration: none !important; }
    .btn-main a:hover {
      color: white !important; }
  .btn-main:hover {
    background-color: #ec6526; }

.btn-readmore {
  font: 400 13px/1 "Roboto", sans-serif;
  color: #0DAD9C;
  background-color: #D8F0EE;
  border-radius: 50px;
  padding: 6px 24px; }
  .btn-readmore:hover {
    color: #0DAD9C; }
  .btn-readmore:focus {
    box-shadow: none; }

.btn-seemore {
  font: 400 17px/1 "Palanquin", sans-serif;
  color: #0DAD9C;
  background-color: white;
  border: 2px solid #0DAD9C;
  border-radius: 50px;
  padding: 10px 44px;
  min-width: 310px; }
  .btn-seemore:hover {
    background-color: #0DAD9C;
    color: white; }
  .btn-seemore:focus {
    box-shadow: none; }

.btn-howtouseit {
  font: 400 13px/1 "Roboto", sans-serif;
  color: #0DAD9C;
  background-color: transparent;
  border: 1px solid #0DAD9C;
  border-radius: 50px;
  padding: 6px 24px;
  margin-right: 10px; }
  .btn-howtouseit:hover {
    color: #0DAD9C; }
  .btn-howtouseit:focus {
    box-shadow: none; }

/* tab setting */
/* selectors relative to radio inputs */
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth; }

body {
  background: #f7f8fa;
  color: #333;
  font-family: "Palanquin", sans-serif;
  height: 100%;
  overflow-x: hidden; }
  body h1 {
    text-align: center;
    color: #0DAD9C;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0; }

img {
  opacity: 1;
  transition: opacity 0.3s; }

img[data-src] {
  opacity: 0; }

.navbar {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.1rem 1rem;
  transition: 0.15s all ease-in-out; }
  .navbar.nav-sticky {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    transition: all 0.5s; }
  @media (max-width: 767px) {
    .navbar {
      padding: 12px 1rem; }
      .navbar .navbar-brand:first-child img {
        vertical-align: middle !important;
        height: 0.8em; } }
  @media (max-width: 991px) {
    .navbar.navbar-mobile {
      background-color: white; } }
  .navbar .btn-main {
    width: 145px;
    padding: 10px 20px; }
    .navbar .btn-main.btn-main-mobile {
      width: 117px;
      margin-right: 15px;
      padding: 8px 0px; }
      @media (min-width: 992px) {
        .navbar .btn-main.btn-main-mobile {
          display: none; } }
    @media (max-width: 991px) {
      .navbar .btn-main.btn-main-desktop {
        display: none; } }
  .navbar .navbar-toggler {
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent; }
    .navbar .navbar-toggler.collapsed {
      background-color: transparent;
      border-radius: 0; }
      .navbar .navbar-toggler.collapsed span.icon-bar {
        background-color: #40403F; }
    .navbar .navbar-toggler:not(.collapsed) {
      background-color: transparent; }
      .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg); }
      .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
        opacity: 0;
        transform: translateX(0); }
      .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); }
    .navbar .navbar-toggler span.icon-bar {
      display: block;
      width: 22px;
      height: 3px;
      margin: 0 0 5px;
      background-color: #0DAD9C;
      transition: opacity, transform;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7); }
      .navbar .navbar-toggler span.icon-bar:last-child {
        margin: 0; }
  .navbar .navbar-collapse {
    transition: 0.15s all ease-in-out; }
    @media (min-width: 992px) {
      .navbar .navbar-collapse {
        display: flex;
        justify-content: space-between; } }
    @media (max-width: 991px) {
      .navbar .navbar-collapse {
        padding: 40px 10px;
        height: calc(100vh - 64px); } }
    @media (max-width: 991px) {
      .navbar .navbar-collapse:not(.show) {
        opacity: 0; } }
    .navbar .navbar-collapse .navbar-nav {
      align-items: center;
      transition: 0.15s all ease-in-out; }
      .navbar .navbar-collapse .navbar-nav a:hover {
        color: #22635c; }
      .navbar .navbar-collapse .navbar-nav .btns-group-collapsed {
        display: none; }
      .navbar .navbar-collapse .navbar-nav .nav-item {
        color: #40403F; }
        .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(-n + 2) {
          margin-right: 50px; }
        .navbar .navbar-collapse .navbar-nav .nav-item img {
          margin-right: 10px; }
          .navbar .navbar-collapse .navbar-nav .nav-item img:hover {
            color: #079687; }
        @media (max-width: 991px) {
          .navbar .navbar-collapse .navbar-nav .nav-item {
            display: inline-flex;
            justify-content: flex-start;
            margin: 0;
            width: fit-content;
            font-size: 24px; }
            .navbar .navbar-collapse .navbar-nav .nav-item.navbar-brand {
              position: fixed;
              padding-top: 36px;
              font-size: 16px;
              bottom: 40px;
              align-items: center; } }
      @media (max-width: 991px) {
        .navbar .navbar-collapse .navbar-nav {
          align-items: flex-start; }
          .navbar .navbar-collapse .navbar-nav .btns-group-collapsed {
            position: fixed;
            bottom: 105px;
            display: inline-block; }
            .navbar .navbar-collapse .navbar-nav .btns-group-collapsed img {
              border-radius: 6px;
              margin-right: 10px;
              max-width: 114px; } }
    .navbar .navbar-collapse .navbar-phones {
      text-align: right;
      display: flex; }
      @media (max-width: 991px) {
        .navbar .navbar-collapse .navbar-phones {
          margin-top: 20px;
          text-align: left; } }
      .navbar .navbar-collapse .navbar-phones a {
        font: 500 16px/1 #40403F;
        white-space: nowrap;
        color: #40403F;
        padding: 0;
        text-decoration: none !important; }
        .navbar .navbar-collapse .navbar-phones a:first-child {
          margin-right: 20px; }
        .navbar .navbar-collapse .navbar-phones a:hover {
          color: #0DAD9C; }
        @media (max-width: 1199px) {
          .navbar .navbar-collapse .navbar-phones a {
            font-size: 15px; } }
        .navbar .navbar-collapse .navbar-phones a span {
          margin-right: 5px; }
          .navbar .navbar-collapse .navbar-phones a span img {
            max-width: 24px; }

main .head-text {
  max-width: 100vw;
  padding-top: 16vh; }
  main .head-text h1 {
    text-align: left;
    padding-bottom: 30px;
    font-size: 60px;
    color: #40403F; }
    main .head-text h1 span {
      font-weight: bold; }
  main .head-text p {
    padding-right: 40px;
    font-size: 20px;
    color: #747272;
    padding-bottom: 40px;
    margin: 0 auto; }
  main .head-text .btn-main {
    padding: 12px 46px; }
  main .head-text .btns-group {
    padding-top: 30px; }
    main .head-text .btns-group img {
      border-radius: 6px;
      margin-right: 10px;
      max-width: 114px; }
  main .head-text .head-mobile-image {
    display: none; }
  main .head-text .head-carousel .swiper-container {
    z-index: 10; }
    main .head-text .head-carousel .swiper-container .swiper-slide {
      align-items: center;
      display: flex; }
      main .head-text .head-carousel .swiper-container .swiper-slide img {
        align-items: center;
        display: block;
        width: 100%;
        margin: 0 auto; }
    main .head-text .head-carousel .swiper-container .swiper-pagination {
      bottom: 0px; }
      main .head-text .head-carousel .swiper-container .swiper-pagination .swiper-pagination-bullet {
        background-color: white;
        opacity: 1; }
        main .head-text .head-carousel .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
          background-color: #1CDCC8; }
  @media (max-width: 1199px) {
    main .head-text h1 {
      padding-top: 0px;
      padding-bottom: 15px;
      margin-left: 10px;
      font-size: 40px;
      line-height: 100%; }
      main .head-text h1 span {
        font-weight: bold; }
    main .head-text p {
      font-size: 16px;
      margin-left: 10px;
      padding-bottom: 20px;
      line-height: 100%; }
    main .head-text .btns-group {
      margin-left: 10px; }
    main .head-text .btn-main {
      margin-left: 10px; }
    main .head-text .head-carousel-col {
      z-index: 6;
      padding-right: 0; }
      main .head-text .head-carousel-col .head-carousel {
        display: none; }
      main .head-text .head-carousel-col .head-mobile-image {
        display: block;
        margin-top: 8px;
        text-align: right; }
        main .head-text .head-carousel-col .head-mobile-image img {
          width: 528px;
          height: auto; } }
  @media (max-width: 991px) {
    main .head-text {
      padding-top: 50px; }
      main .head-text .btns-group {
        display: none; }
      main .head-text .head-carousel-col {
        z-index: 6;
        padding-right: 0; }
        main .head-text .head-carousel-col .head-carousel {
          display: none; }
        main .head-text .head-carousel-col .head-mobile-image {
          display: block;
          margin-top: 20px;
          text-align: right; }
          main .head-text .head-carousel-col .head-mobile-image img {
            width: 80vw;
            height: auto; } }
  @media (max-width: 767px) {
    main .head-text {
      padding-top: 0px; }
      main .head-text h1 {
        padding-top: 0px;
        padding-bottom: 15px;
        margin-left: 10px;
        font-size: 26px;
        line-height: 100%; }
        main .head-text h1 span {
          font-weight: bold; }
      main .head-text p {
        font-size: 15px;
        margin-left: 10px;
        padding-bottom: 20px;
        line-height: 100%; }
      main .head-text .btns-group {
        display: none; }
      main .head-text .btn-main {
        margin-left: 10px; }
      main .head-text .head-carousel-col {
        z-index: 6;
        padding-right: 0; }
        main .head-text .head-carousel-col .head-carousel {
          display: none; }
        main .head-text .head-carousel-col .head-mobile-image {
          display: block;
          margin-top: 8px;
          text-align: right; }
          main .head-text .head-carousel-col .head-mobile-image img {
            width: 80vw;
            height: auto; } }

main .diagonal-box {
  position: relative;
  z-index: 5;
  transition: 0.5s ease-in-out; }
  main .diagonal-box:before {
    z-index: 5;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(176deg, #079687 0%, #0dad9c 40%, #24d3c5 75%, #1cdcc8 100%);
    transform: skewY(-20deg); }
  main .diagonal-box.translateDown {
    transform: translateY(5vh); }
  main .diagonal-box .content {
    position: relative;
    min-width: 100vw;
    height: 205px;
    margin: 0 auto; }
  @media (max-width: 1367px) {
    main .diagonal-box.translateDown {
      transform: translateY(0vh); } }
  @media (max-width: 575px) {
    main .diagonal-box .content {
      height: 60px; } }

main .home-row-icons {
  min-width: 100vw;
  padding-top: 15vh;
  margin-bottom: 70px; }
  main .home-row-icons .icons-row img {
    padding-left: 1.4vw; }
  @media (max-width: 1367px) {
    main .home-row-icons {
      margin-bottom: 20px; } }
  @media (max-width: 991px) {
    main .home-row-icons {
      margin-bottom: 25px; }
      main .home-row-icons .icons-row {
        display: flex;
        justify-content: center;
        align-items: center; }
        main .home-row-icons .icons-row img {
          padding-left: 26px; } }
  @media (max-width: 767px) {
    main .home-row-icons {
      margin-bottom: 25px;
      padding-top: 5vh; }
      main .home-row-icons .icons-row {
        display: flex;
        justify-content: center;
        align-items: center; }
        main .home-row-icons .icons-row img {
          max-height: 22px;
          padding-left: 20px; } }
  @media (max-width: 575px) {
    main .home-row-icons {
      padding-top: 0;
      margin-bottom: 25px; }
      main .home-row-icons .icons-row {
        display: flex;
        align-items: center; }
        main .home-row-icons .icons-row img {
          max-height: 13px;
          padding-left: 17px; } }

main .foreveryclub-section {
  min-width: 100vw;
  margin-bottom: 20px; }
  main .foreveryclub-section .leftside-text h1 {
    font-size: 40px;
    text-align: left;
    color: #40403F; }
  main .foreveryclub-section .leftside-text p {
    font-size: 16px;
    line-height: 1.2;
    color: #747272; }
  main .foreveryclub-section .leftside-text h3 {
    font-size: 20px;
    font-weight: bold;
    color: #40403F; }
  main .foreveryclub-section .rightside-text h2 {
    padding-top: 100px;
    font-size: 20px;
    font-weight: 300;
    color: #0DAD9C; }
  main .foreveryclub-section .rightside-text p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    color: #747272;
    font-family: "Roboto", sans-serif; }
  main .foreveryclub-section .rightside-text h3 {
    display: none; }
  @media (max-width: 1367px) {
    main .foreveryclub-section {
      margin-bottom: 0px; } }
  @media (max-width: 1024px) {
    main .foreveryclub-section {
      margin-bottom: 20px; } }
  @media (max-width: 991px) {
    main .foreveryclub-section .leftside-text h1 {
      padding-top: 0;
      font-size: 22px; }
    main .foreveryclub-section .leftside-text p {
      font-size: 15px; }
    main .foreveryclub-section .leftside-text h3 {
      display: none; }
    main .foreveryclub-section .rightside-text h2 {
      padding-top: 5px;
      font-size: 15px; }
    main .foreveryclub-section .rightside-text p {
      font-size: 15px; }
    main .foreveryclub-section .rightside-text h3 {
      padding-top: 25px;
      display: block;
      font-size: 20px;
      font-weight: bold;
      color: #40403F; } }
  @media (max-width: 767px) {
    main .foreveryclub-section {
      margin-bottom: 60px;
      padding-left: 10px; }
      main .foreveryclub-section .leftside-text h1 {
        padding-top: 0;
        font-size: 22px; }
      main .foreveryclub-section .leftside-text p {
        font-size: 15px;
        margin-bottom: 5px; }
      main .foreveryclub-section .leftside-text h3 {
        display: none; }
      main .foreveryclub-section .rightside-text h2 {
        padding-top: 5px;
        font-size: 15px; }
      main .foreveryclub-section .rightside-text p {
        font-size: 15px;
        margin-bottom: 1rem; }
      main .foreveryclub-section .rightside-text h3 {
        display: block;
        padding-top: 0px;
        font-size: 20px;
        font-weight: bold;
        color: #40403F;
        margin-bottom: 20px; } }

main .three-numbers-section, main .three-numbers-section-2 {
  position: absolute;
  bottom: 0;
  min-width: 100vw;
  margin-top: 45px;
  min-height: 147px;
  background: linear-gradient(90deg, #079687 0%, #0DAD9C 100%);
  margin-bottom: 0px; }
  main .three-numbers-section h1, main .three-numbers-section-2 h1 {
    padding-top: 30px;
    font-size: 50px;
    font-weight: bold;
    line-height: 0.7;
    color: white; }
  main .three-numbers-section p, main .three-numbers-section-2 p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-bottom: 20px; }
  main .three-numbers-section hr, main .three-numbers-section-2 hr {
    margin: 10px auto;
    padding: 0;
    height: 4px;
    width: 46px;
    border: none;
    background-color: #1CDCC8; }
  @media (max-width: 767px) {
    main .three-numbers-section, main .three-numbers-section-2 {
      min-height: 110px;
      height: 110px;
      position: absolute;
      top: calc(var(--app-height) - 110px);
      overflow-x: scroll;
      margin-top: 0px; }
      main .three-numbers-section.three-numbers-swipe-row, main .three-numbers-swipe-row.three-numbers-section-2 {
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        -webkit-scroll-snap-type: x mandatory; }
        main .three-numbers-section.three-numbers-swipe-row .three-numbers-swipe-content, main .three-numbers-swipe-row.three-numbers-section-2 .three-numbers-swipe-content {
          scroll-snap-align: start;
          display: flex;
          flex-direction: column; }
      main .three-numbers-section .row, main .three-numbers-section-2 .row {
        padding: 0px;
        flex-wrap: nowrap; }
      main .three-numbers-section h1, main .three-numbers-section-2 h1 {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 40px; }
      main .three-numbers-section p, main .three-numbers-section-2 p {
        font-size: 15px;
        margin-bottom: 0; }
      main .three-numbers-section hr, main .three-numbers-section-2 hr {
        margin: 5px auto; } }

main .container-for-swiper {
  max-width: 100vw;
  padding: 0;
  padding-right: 40px;
  margin: 0 auto; }
  main .container-for-swiper .swiper-carousel-left-side {
    padding-left: 120px;
    z-index: 3;
    background: #f7f8fa;
    align-items: center; }
    main .container-for-swiper .swiper-carousel-left-side h1 {
      padding-top: 125px;
      text-align: left;
      font-family: "Palanquin", sans-serif;
      font-size: 26px;
      font-weight: bold;
      color: #40403F; }
    main .container-for-swiper .swiper-carousel-left-side p {
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      color: #747272; }
    main .container-for-swiper .swiper-carousel-left-side .slider-controls {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin: 0 auto; }
      main .container-for-swiper .swiper-carousel-left-side .slider-controls .swiper-button-prev, main .container-for-swiper .swiper-carousel-left-side .slider-controls .swiper-button-next {
        right: 0;
        left: 0;
        position: relative;
        border-radius: 50%;
        height: 42px;
        width: 42px;
        background-color: #efedf1;
        font-size: 15px;
        color: #40403f;
        text-align: center;
        line-height: 30px;
        padding-top: 0.1rem;
        margin: 0.2rem; }
        main .container-for-swiper .swiper-carousel-left-side .slider-controls .swiper-button-prev::after, main .container-for-swiper .swiper-carousel-left-side .slider-controls .swiper-button-next::after {
          content: ""; }
        main .container-for-swiper .swiper-carousel-left-side .slider-controls .swiper-button-prev:hover, main .container-for-swiper .swiper-carousel-left-side .slider-controls .swiper-button-next:hover {
          cursor: pointer;
          color: #fff;
          background: linear-gradient(45deg, #0dad9c 0%, #1cdcc8 100%);
          border: none; }
    main .container-for-swiper .swiper-carousel-left-side .swiper-carousel-pagination {
      margin-top: 20px;
      margin-left: 0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: left; }
      main .container-for-swiper .swiper-carousel-left-side .swiper-carousel-pagination .swiper-pagination-bullet {
        height: 12px;
        width: 2px;
        margin: 0.3rem;
        margin-right: 4px;
        background: #D3D7DA;
        border-radius: 0;
        opacity: 1; }
        main .container-for-swiper .swiper-carousel-left-side .swiper-carousel-pagination .swiper-pagination-bullet:hover {
          cursor: pointer; }
        main .container-for-swiper .swiper-carousel-left-side .swiper-carousel-pagination .swiper-pagination-bullet-active {
          background: #1CDCC8 !important; }
  main .container-for-swiper .swiper-carousel {
    padding-left: 25px;
    min-height: 700px;
    padding-top: 100px;
    overflow: visible; }
    main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide {
      min-height: 442px;
      min-width: 293px;
      transition: all 0.5s;
      background-color: white;
      border: 0.5px solid #dddddd;
      box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1); }
      main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide-active {
        transform: scale(1.1); }
      main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.swiper-slide-prev {
        box-shadow: none; }
      main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card {
        border-radius: 4px; }
        main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card .card-header {
          background-color: white;
          border: 0;
          padding: 20px; }
        main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card .card-body {
          padding: 0 20px 20px; }
          main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card .card-body img {
            margin-bottom: 20px; }
          main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card .card-body p {
            font-size: 15px;
            margin-bottom: 0.5rem;
            transition: all 1s; }
        main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card .card-bottom {
          padding: 0 20px 20px; }
          main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card .card-bottom p {
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            margin-bottom: 0;
            line-height: 1;
            color: #40403F; }
          main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card .card-bottom span {
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: bold;
            color: #40403F; }
        main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card .vimeoBtn {
          position: absolute;
          width: 75px;
          height: 75px;
          border: none;
          border-radius: 40px;
          margin: 0 auto;
          top: 65px;
          left: calc(50% - 40px);
          background-color: rgba(7, 150, 135, 0.9); }
          main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card .vimeoBtn:focus {
            box-shadow: none;
            outline: none; }
          main .container-for-swiper .swiper-carousel .swiper-carousel-right-side .swiper-slide.card .vimeoBtn img {
            margin-left: 7px;
            width: 34px;
            height: 39px; }
  @media (max-width: 1199px) {
    main .container-for-swiper {
      padding: 0px; }
      main .container-for-swiper .swiper-carousel-left-side {
        padding-left: 70px; }
      main .container-for-swiper .swiper-carousel {
        padding-left: 15px; } }
  @media (max-width: 991px) {
    main .container-for-swiper {
      padding: 0 20px; }
      main .container-for-swiper .swiper-carousel-left-side {
        margin: 0 auto;
        padding-left: 20px; }
        main .container-for-swiper .swiper-carousel-left-side h1 {
          margin: 0 auto;
          width: 80%;
          padding-top: 40px;
          text-align: center; }
        main .container-for-swiper .swiper-carousel-left-side p {
          margin: 0 auto;
          width: 80%;
          text-align: center;
          padding-bottom: 30px; }
        main .container-for-swiper .swiper-carousel-left-side .slider-controls {
          justify-content: center; }
        main .container-for-swiper .swiper-carousel-left-side .swiper-carousel-pagination {
          display: none; }
      main .container-for-swiper .swiper-carousel {
        padding-top: 60px;
        min-height: auto; } }
  @media (max-width: 767px) {
    main .container-for-swiper .swiper-carousel-left-side {
      padding-left: 20px; }
      main .container-for-swiper .swiper-carousel-left-side h1 {
        margin: 0 auto;
        width: 80%;
        padding-top: 10px;
        text-align: center; }
      main .container-for-swiper .swiper-carousel-left-side p {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        padding-bottom: 10px; }
      main .container-for-swiper .swiper-carousel-left-side .slider-controls {
        justify-content: center; }
      main .container-for-swiper .swiper-carousel-left-side .swiper-carousel-pagination {
        display: none; }
    main .container-for-swiper .swiper-carousel {
      padding-left: 0px;
      padding-top: 40px;
      min-height: auto; }
      main .container-for-swiper .swiper-carousel .swiper-slide-active {
        transform: scale(1.02) !important; } }

main .three-numbers-section-2 {
  min-width: 100vw;
  position: relative !important;
  top: 0;
  margin-top: 70px;
  min-height: 243px;
  display: flex;
  align-items: center; }
  main .three-numbers-section-2 button {
    position: absolute;
    top: 18px;
    margin-top: 5px;
    padding: 12px 70px; }
  @media (max-width: 991px) {
    main .three-numbers-section-2 {
      margin-top: 0px;
      margin-bottom: 60px; }
      main .three-numbers-section-2 .numbers-row {
        flex-wrap: wrap; }
      main .three-numbers-section-2 .button-row {
        position: relative;
        flex-wrap: wrap; }
        main .three-numbers-section-2 .button-row .btn {
          top: 18px; } }
  @media (max-width: 767px) {
    main .three-numbers-section-2 {
      position: relative;
      overflow: initial;
      padding-top: 50px;
      min-height: 460px;
      max-height: 460px;
      margin-top: 0px;
      margin-bottom: 60px;
      align-items: flex-start; }
      main .three-numbers-section-2 .numbers-row .numbers-col {
        margin-bottom: 30px; }
      main .three-numbers-section-2 .btn {
        position: absolute;
        top: 12px !important;
        z-index: 2; } }

main .blog-section {
  min-width: 100vw;
  margin-bottom: 60px; }
  main .blog-section .card-mobile {
    display: none; }
  main .blog-section h1 {
    font-size: 26px;
    font-weight: bold;
    color: #40403F;
    margin-top: 60px;
    margin-bottom: 60px; }
  main .blog-section .card {
    min-height: 392px;
    border: 0.5px solid #dddddd;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1); }
    main .blog-section .card .card-header {
      background-color: white;
      border: 0;
      padding: 20px; }
    main .blog-section .card .card-body {
      padding: 0 20px 20px; }
      main .blog-section .card .card-body h3 {
        font-size: 18px;
        font-weight: bold;
        color: #40403F; }
      main .blog-section .card .card-body p {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        color: #747272; }
    main .blog-section .card .card-bottom {
      padding: 0 20px 20px; }
      main .blog-section .card .card-bottom p {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        color: #40403F;
        margin-bottom: 0; }
  main .blog-section button {
    padding-top: 5px;
    padding: 12px 70px; }
  @media (max-width: 991px) {
    main .blog-section h1 {
      margin-top: 0px; }
    main .blog-section .row {
      justify-content: center; }
    main .blog-section .card-desktop {
      display: none; }
    main .blog-section .card-mobile {
      display: block;
      min-height: 170px;
      margin-bottom: 20px; }
      main .blog-section .card-mobile .card-body {
        padding: 20px; }
        main .blog-section .card-mobile .card-body .row {
          min-height: 130px; }
        main .blog-section .card-mobile .card-body img {
          position: absolute;
          top: 0;
          left: -25px;
          z-index: 10;
          clip: rect(auto 170px 130px 40px);
          height: 130px;
          width: auto; }
        main .blog-section .card-mobile .card-body h3 {
          padding-top: 16px;
          padding-left: 5px;
          line-height: 1.15; }
        main .blog-section .card-mobile .card-body p {
          position: absolute;
          bottom: 0px;
          font-size: 12px;
          padding-left: 5px;
          color: #40403F; } }

main .stress-free-section {
  min-width: 100vw;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 288px;
  background: linear-gradient(90deg, #079687 0%, #0dad9c 100%); }
  main .stress-free-section h1 {
    padding-bottom: 40px;
    text-align: left;
    color: white;
    font-size: 44px; }
    main .stress-free-section h1 span {
      font-weight: bold; }
  main .stress-free-section .submitbtn {
    justify-content: center;
    display: flex;
    align-items: center; }
  main .stress-free-section .btn {
    padding: 12px 44px; }
  @media (max-width: 1199px) {
    main .stress-free-section h1 {
      font-size: 30px; } }
  @media (max-width: 991px) {
    main .stress-free-section {
      min-height: 288px; }
      main .stress-free-section h1 {
        font-size: 26px;
        padding-top: 0px;
        padding-bottom: 30px; } }
  @media (max-width: 767px) {
    main .stress-free-section {
      text-align: left; }
      main .stress-free-section h1 {
        text-align: left;
        font-size: 26px;
        padding-bottom: 30px; }
      main .stress-free-section .submitbtn {
        justify-content: left; }
      main .stress-free-section button {
        text-align: left; } }

.footer {
  min-width: 100vw;
  min-height: 413px;
  padding-top: 100px; }
  .footer .footer-social {
    position: relative;
    margin-top: 50px; }
    .footer .footer-social a {
      display: inline-block; }
      .footer .footer-social a:last-child i {
        margin: 0; }
      .footer .footer-social a:hover i {
        color: #575755; }
      .footer .footer-social a i {
        margin-right: 40px;
        font-size: 32px;
        color: #3d3d3c; }
  .footer .footer-link h3 {
    font-family: "Palanquin", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; }
  .footer .footer-link a {
    font-family: "Roboto", sans-serif;
    display: block;
    margin-bottom: 10px;
    color: #747272;
    font-size: 16px;
    text-decoration: none; }
  @media (max-width: 767px) {
    .footer {
      padding: 100px 24px 0; }
      .footer .footer-social {
        margin-bottom: 54px; }
      .footer .footer-link {
        margin-bottom: 40px; } }

.copyright-section {
  min-width: 100vw;
  min-height: 80px;
  display: flex;
  align-items: center;
  background-color: white; }
  .copyright-section .row {
    padding-top: 25px;
    padding-bottom: 25px; }
  .copyright-section P {
    margin: 0; }
    .copyright-section P a {
      margin: 0 !important;
      font-family: "Roboto", sans-serif;
      display: block;
      margin-bottom: 10px;
      color: #40403F;
      font-size: 16px;
      text-decoration: none; }
  @media (max-width: 767px) {
    .copyright-section {
      min-height: 80px;
      align-items: flex-start; }
      .copyright-section p {
        padding-left: 10px; }
        .copyright-section p span {
          display: none; } }

.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 20;
  background: rgba(247, 248, 250, 0.7);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 123px;
  border-top: 0.5px solid rgba(221, 221, 221, 0.7);
  border-bottom: 0.5px solid rgba(221, 221, 221, 0.7);
  transition: all 0.1s ease;
  min-width: 300px; }
  .tabs input[name="tab-control"] {
    display: none; }
  .tabs.fullscreen {
    margin-top: 79px !important;
    z-index: 20;
    width: 100%;
    height: 56px;
    position: fixed !important;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    border-top: none;
    border-bottom: 0.5px solid rgba(221, 221, 221, 0.7);
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    transition: all 0.2s ease; }
    .tabs.fullscreen .content {
      display: block; }
    .tabs.fullscreen ul {
      padding: 12px 50px; }
      .tabs.fullscreen ul label {
        display: flex;
        align-items: center;
        justify-content: center; }
    .tabs.fullscreen svg {
      display: none; }
  .tabs ul li label {
    font-family: "Palanquin", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #0DAD9C; }
  .tabs ul {
    list-style-type: none;
    padding: 24px 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap; }
    .tabs ul li {
      box-sizing: border-box;
      flex: 1;
      width: 20%;
      padding: 0 10px;
      text-align: center; }
      .tabs ul li label {
        transition: all 0.3s ease-in-out;
        color: #5c5e5e;
        padding: 5px auto;
        margin-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none; }
        .tabs ul li label span.desktopText {
          display: block; }
        .tabs ul li label span.mobileText {
          display: none; }
        .tabs ul li label svg {
          fill: #5c5e5e;
          height: 2em;
          vertical-align: middle;
          margin-bottom: 0.2em;
          margin-top: 0.2em;
          transition: all 0.2s ease-in-out; }
        .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
          outline: 0;
          color: #828584; }
          .tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
            fill: #828584; }
  .tabs .slider {
    margin-left: 50px;
    position: relative;
    width: calc((100vw - 100px) / 5);
    transition: all 0.2s cubic-bezier(0.38, 0.8, 0.32, 1.07); }
    .tabs .slider .indicator {
      position: relative;
      width: 200px;
      max-width: 100%;
      margin: 0 auto;
      height: 5px;
      background: #0DAD9C;
      border-radius: 1px; }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: #0DAD9C; }
    .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
      fill: #0DAD9C; }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%); }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: #0DAD9C; }
    .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
      fill: #0DAD9C; }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%); }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    cursor: default;
    color: #0DAD9C; }
    .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
      fill: #0DAD9C; }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%); }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    cursor: default;
    color: #0DAD9C; }
    .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
      fill: #0DAD9C; }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
    transform: translateX(300%); }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label {
    cursor: default;
    color: #0DAD9C; }
    .tabs input[name="tab-control"]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label svg {
      fill: #0DAD9C; }
  .tabs input[name="tab-control"]:nth-of-type(5):checked ~ .slider {
    transform: translateX(400%); }
  .tabs input[name="tab-control"]:nth-of-type(5):checked ~ .content > section:nth-child(5) {
    display: block; }

@keyframes content {
  from {
    opacity: 0;
    margin-left: 5%; }
  to {
    opacity: 1;
    margin-left: 0; } }
  @media (max-width: 575px) {
    .tabs ul li label {
      white-space: none; }
      .tabs ul li label br {
        display: initial; }
      .tabs ul li label svg {
        height: 1.6em; } }
  @media (max-width: 1367px) {
    .tabs {
      margin-top: 0px; } }
  @media (max-width: 1024px) {
    .tabs ul li label span.desktopText {
      display: none; }
    .tabs ul li label span.mobileText {
      display: block;
      padding-top: 4px; } }
  @media (max-width: 991px) {
    .tabs {
      margin-top: 50px;
      overflow-x: scroll; }
      .tabs::-webkit-scrollbar {
        display: none; }
      .tabs.fullscreen {
        margin-top: 75px !important; }
        .tabs.fullscreen ul {
          width: 1024px; }
          .tabs.fullscreen ul li {
            padding: 0; }
        .tabs.fullscreen .slider {
          display: block !important;
          width: calc((1024px - 100px) / 5);
          margin-top: 0px;
          margin-left: 50px; }
          .tabs.fullscreen .slider .indicator {
            position: relative;
            width: 180px;
            max-width: 100%;
            margin: 0 auto;
            height: 5px;
            background: #0DAD9C;
            border-radius: 1px; } }
  @media (max-width: 767px) {
    .tabs {
      height: 77px;
      margin-top: -56px;
      overflow-x: scroll; }
      .tabs::-webkit-scrollbar {
        display: none; }
      .tabs ul {
        width: 680px !important;
        align-items: flex-start;
        padding: 12px 15px;
        padding-bottom: 0px !important; }
        .tabs ul li {
          align-items: center;
          padding: 0; }
          .tabs ul li label span {
            font-size: 15px; }
            .tabs ul li label span.mobileText {
              padding-top: 4px; }
          .tabs ul li label svg {
            margin: 0 auto;
            align-items: center;
            display: block !important; }
          .tabs ul li label br {
            display: none; }
      .tabs .slider {
        display: block !important;
        width: calc((680px - 40px) / 5);
        margin-top: 4px;
        margin-left: 20px; }
        .tabs .slider .indicator {
          position: relative;
          width: 136px;
          max-width: 100%;
          margin: 0 auto;
          height: 3px;
          background: #0DAD9C;
          border-radius: 1px; }
      .tabs.fullscreen {
        margin-top: 64px !important;
        height: 44px;
        display: block !important;
        flex: none !important; }
        .tabs.fullscreen ul {
          padding: 6px 15px !important; }
          .tabs.fullscreen ul label {
            display: block; }
          .tabs.fullscreen ul svg {
            display: none !important; }
        .tabs.fullscreen .slider {
          display: block !important;
          width: calc((680px - 40px) / 5) !important;
          margin-top: 1px;
          margin-left: 20px; }
          .tabs.fullscreen .slider .indicator {
            position: relative;
            width: 136px;
            max-width: 100%;
            margin: 0 auto;
            height: 3px;
            background: #0DAD9C;
            border-radius: 1px; }
      .tabs .content {
        margin-top: 20px; }
        .tabs .content section h2 {
          display: block; } }

.swipe-content {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: normal; }

.tab-content-container #slideBullets {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  right: 2.5vw;
  font-size: 40px;
  display: none; }
  .tab-content-container #slideBullets.show {
    display: block; }
  .tab-content-container #slideBullets p {
    text-align: center;
    line-height: 0.1;
    height: 10px;
    margin-bottom: 8px;
    color: #D3D7DA; }
    .tab-content-container #slideBullets p.activeBullet {
      color: #1CDCC8; }

.tab-content {
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.25s;
  animation-timing-function: ease;
  animation-iteration-count: 1; }
  .tab-content .stress-free-carousel {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-between; }
    .tab-content .stress-free-carousel .container {
      min-width: 100vw;
      margin: 0 !important;
      margin-right: 0; }
    .tab-content .stress-free-carousel .left-side {
      z-index: 2;
      min-width: calc(100vw / 3);
      min-height: calc(100vh - 134px);
      padding: 0px 80px;
      box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
      background: linear-gradient(45deg, #079687 0%, #0dad9c 100%); }
      .tab-content .stress-free-carousel .left-side .getStartedTabletBtn {
        display: none; }
      .tab-content .stress-free-carousel .left-side h1 {
        padding-top: 165px;
        padding-bottom: 40px;
        text-align: left;
        color: white;
        font-size: 44px; }
        .tab-content .stress-free-carousel .left-side h1 span {
          font-weight: bold; }
      .tab-content .stress-free-carousel .left-side button {
        padding: 12px 44px;
        margin-bottom: 40px;
        align-items: flex-start; }
    .tab-content .stress-free-carousel .right-side {
      min-height: calc(100vh - 134px);
      padding-left: 0px;
      padding-right: 0px; }
      .tab-content .stress-free-carousel .right-side h1 {
        padding-left: 54px;
        padding-bottom: 20px;
        padding-top: 40px;
        font-size: 26px;
        font-weight: bold;
        color: #40403F;
        text-align: left; }
      .tab-content .stress-free-carousel .right-side .cards-container {
        display: flex;
        overflow-x: scroll;
        padding-right: 40px;
        padding-bottom: 50px;
        padding-top: 10px; }
      .tab-content .stress-free-carousel .right-side .card {
        min-width: 362px;
        min-height: 472px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
        margin-left: 20px; }
        .tab-content .stress-free-carousel .right-side .card .card-body {
          padding: 40px 22px 0px 26px; }
          .tab-content .stress-free-carousel .right-side .card .card-body h5 {
            padding-top: 16px;
            font: bold 20px;
            color: #40403F; }
          .tab-content .stress-free-carousel .right-side .card .card-body p {
            font: normal 15px/1.4 "Roboto", sans-serif;
            color: #747272; }
          .tab-content .stress-free-carousel .right-side .card .card-body ul {
            font: normal 15px/1.2 "Roboto", sans-serif;
            color: #747272;
            padding-left: 25px;
            margin-bottom: 5px; }
            .tab-content .stress-free-carousel .right-side .card .card-body ul li {
              padding-bottom: 8px; }
              .tab-content .stress-free-carousel .right-side .card .card-body ul li::marker {
                color: #747272; }
        .tab-content .stress-free-carousel .right-side .card .card-bottom {
          padding: 0 25px 40px; }
    @media (max-width: 1199px) {
      .tab-content .stress-free-carousel .left-side {
        padding: 0px 50px; }
      .tab-content .stress-free-carousel .right-side h1 {
        padding-top: 60px; }
      .tab-content .stress-free-carousel .right-side .card {
        min-width: 310px; }
        .tab-content .stress-free-carousel .right-side .card .card-body {
          padding: 40px 20px 0px 20px; }
        .tab-content .stress-free-carousel .right-side .card .card-bottom {
          padding: 0 20px 40px; }
          .tab-content .stress-free-carousel .right-side .card .card-bottom .btn-seemore {
            min-width: 270px; } }
    @media (max-width: 991px) {
      .tab-content .stress-free-carousel .left-side {
        min-height: 244px; }
        .tab-content .stress-free-carousel .left-side .getStartedDesktopBtn {
          display: none; }
        .tab-content .stress-free-carousel .left-side .getStartedTabletBtn {
          display: block;
          text-align: center; }
          .tab-content .stress-free-carousel .left-side .getStartedTabletBtn .btn {
            margin-top: 100px; }
        .tab-content .stress-free-carousel .left-side h1 {
          font-size: 26px;
          padding-top: 70px;
          padding-bottom: 30px;
          line-height: 100%; }
        .tab-content .stress-free-carousel .left-side br {
          display: none; }
      .tab-content .stress-free-carousel .right-side h1 {
        text-align: center;
        padding-left: 0px; } }
    @media (max-width: 767px) {
      .tab-content .stress-free-carousel .left-side {
        padding: 0px 42px;
        min-height: 392px; }
        .tab-content .stress-free-carousel .left-side .getStartedDesktopBtn {
          display: block; }
        .tab-content .stress-free-carousel .left-side .getStartedTabletBtn {
          display: none; }
        .tab-content .stress-free-carousel .left-side h1 {
          font-size: 36px;
          padding-top: 70px;
          padding-bottom: 40px !important; }
      .tab-content .stress-free-carousel .right-side {
        min-height: 100vh;
        margin-bottom: 50px;
        margin-top: 0px; }
        .tab-content .stress-free-carousel .right-side h1 {
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 30px; } }
  .tab-content .swipe-slide {
    padding-top: 134px; }
    @media (max-width: 991px) {
      .tab-content .swipe-slide {
        padding-top: 200px !important;
        justify-content: start; }
        .tab-content .swipe-slide:nth-last-child(1) {
          padding-top: 132px !important; } }
    @media (max-width: 767px) {
      .tab-content .swipe-slide {
        padding-top: 134px !important;
        justify-content: start; }
        .tab-content .swipe-slide:nth-last-child(1) {
          padding-top: 108px !important; } }
    .tab-content .swipe-slide .container {
      min-height: 460px; }
  @media (max-width: 991px) {
    .tab-content section:nth-child(2n):not(:last-child) .row {
      flex-direction: column-reverse; }
    .tab-content .unique-column-reverse .row {
      flex-direction: column !important; } }

.show-content {
  display: block; }

.swipe-slide {
  scroll-snap-align: start;
  background-color: #f7f8fa;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }
  .swipe-slide.is-visible .scroll-page-picside img {
    opacity: 1; }
  .swipe-slide.swipe-slide0 {
    justify-content: start; }
  .swipe-slide row {
    align-items: center; }
  .swipe-slide .scroll-page-textside {
    z-index: 3; }
    .swipe-slide .scroll-page-textside img {
      size: 34px; }
    .swipe-slide .scroll-page-textside hr {
      margin: 20px 0 30px 0;
      padding: 0;
      height: 5px;
      width: 90px;
      border: none;
      background: linear-gradient(90deg, #0DAD9C, #1CDCC8); }
    .swipe-slide .scroll-page-textside h2 {
      color: #40403F;
      font-family: "Palanquin", sans-serif;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px; }
    .swipe-slide .scroll-page-textside p {
      color: #747272;
      font-family: "Roboto", sans-serif;
      font-size: 15px; }
      .swipe-slide .scroll-page-textside p.p-mobile-text {
        display: none; }
    .swipe-slide .scroll-page-textside .btn {
      margin-bottom: 2rem; }
    .swipe-slide .scroll-page-textside .readmore-btns {
      max-height: 24px; }
      .swipe-slide .scroll-page-textside .readmore-btns.readmore-btns-desktop {
        display: block; }
      .swipe-slide .scroll-page-textside .readmore-btns.readmore-btns-mobile {
        display: none; }
    .swipe-slide .scroll-page-textside .btn-howtouseit {
      background-color: rgba(247, 248, 250, 0.95); }
      .swipe-slide .scroll-page-textside .btn-howtouseit.hidden {
        display: none; }
    .swipe-slide .scroll-page-textside .moretext {
      display: none;
      background-color: rgba(247, 248, 250, 0.95); }
  .swipe-slide .scroll-page-picside .w-110-left {
    transform: scale(1.1) translateX(-5%); }
  .swipe-slide .scroll-page-picside .w-110-right {
    transform: scale(1.1) translateX(5%); }
  .swipe-slide .scroll-page-picside .w-120-left {
    transform: scale(1.2) translateX(-10%); }
  .swipe-slide .scroll-page-picside .w-120-right {
    transform: scale(1.2) translateX(10%); }
  .swipe-slide .scroll-page-picside .w-130-left {
    transform: scale(1.3) translateX(-10%); }
  .swipe-slide .scroll-page-picside .w-130-right {
    transform: scale(1.3) translateX(10%); }
  @media (max-width: 991px) {
    .swipe-slide {
      padding-top: 75px !important;
      justify-content: start; }
      .swipe-slide .scroll-page-textside {
        margin: auto;
        padding: 0 20vw; }
        .swipe-slide .scroll-page-textside.extended {
          background-color: rgba(247, 248, 250, 0.9);
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(2px);
          min-height: calc(100vh - 134px) !important;
          z-index: 2; }
        .swipe-slide .scroll-page-textside img {
          height: 34px;
          width: auto; }
        .swipe-slide .scroll-page-textside hr {
          margin: 20px 0 30px; }
        .swipe-slide .scroll-page-textside h2 {
          font-size: 24px;
          margin-bottom: 16px;
          line-height: 100% !important; }
        .swipe-slide .scroll-page-textside p {
          font-size: 15px;
          margin-bottom: 20px;
          line-height: 120% !important; }
          .swipe-slide .scroll-page-textside p.p-desktop-text {
            display: none; }
        .swipe-slide .scroll-page-textside .readmore-btns {
          text-align: center;
          max-height: 30px; }
          .swipe-slide .scroll-page-textside .readmore-btns .btn-readmore {
            text-align: center;
            width: 30px;
            height: 30px;
            font-size: 34px;
            font-weight: 300;
            padding: 0px !important;
            margin-bottom: 20px;
            line-height: 0.7; }
          .swipe-slide .scroll-page-textside .readmore-btns.readmore-btns-desktop {
            display: none; }
          .swipe-slide .scroll-page-textside .readmore-btns.readmore-btns-mobile {
            display: block; }
      .swipe-slide .scroll-page-picside {
        margin: auto;
        max-width: 80%;
        top: 420px;
        position: absolute;
        transform: scale(0.8) !important; }
        .swipe-slide .scroll-page-picside.additional-mobile-translateY {
          transform: translateY(20px) scale(0.8) !important; }
        .swipe-slide .scroll-page-picside.additional-mobile-translateY60 {
          transform: translateY(60px) scale(0.8) !important; } }
  @media (max-width: 767px) {
    .swipe-slide .scroll-page-textside {
      max-width: 100%;
      padding: 0 24px; }
      .swipe-slide .scroll-page-textside img {
        height: 26px;
        width: auto; }
      .swipe-slide .scroll-page-textside hr {
        margin: 15px 0; }
      .swipe-slide .scroll-page-textside h2 {
        font-size: 20px;
        margin-bottom: 16px;
        line-height: 100% !important; }
      .swipe-slide .scroll-page-textside p {
        font-size: 15px;
        margin-bottom: 10px;
        line-height: 120% !important; }
        .swipe-slide .scroll-page-textside p.p-desktop-text {
          display: none; }
      .swipe-slide .scroll-page-textside .readmore-btns {
        text-align: center;
        max-height: 30px; }
        .swipe-slide .scroll-page-textside .readmore-btns .btn-readmore {
          text-align: center;
          width: 30px;
          height: 30px;
          font-size: 34px;
          font-weight: 300;
          padding: 0px !important;
          line-height: 0.7; }
    .swipe-slide .scroll-page-picside {
      top: 325px;
      position: absolute;
      transform: translateY(0px) scale(0.8) !important; }
      .swipe-slide .scroll-page-picside.additional-mobile-translateY {
        transform: translateY(40px) scale(0.8) !important; }
      .swipe-slide .scroll-page-picside.additional-mobile-translateY60 {
        transform: translateY(60px) scale(0.8) !important; } }

#videoModal .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 15vh auto 0 auto; }
  @media (max-width: 991px) {
    #videoModal .modal-dialog {
      margin: 20vh auto 0 auto; } }

#videoModal .modal-body {
  position: relative;
  padding: 0px; }

#videoModal .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  line-height: -0.5;
  color: #ffffff;
  background: #0DAD9C;
  opacity: 1; }
  #videoModal .close:focus {
    outline: none; }
  #videoModal .close span {
    line-height: 0;
    position: absolute;
    top: 11px;
    left: 8px; }
