.btn-main {
    font: bold 16px/1 $main-font;
    
    // padding: 17px 25px;
    background-color: $orange;
    border-radius: 50px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
    transition: $fast-transition;
    color: white !important;
    a {
        color: white;
        text-decoration: none !important;
        &:hover {
            color: white !important;         
        }
    }
    &:hover {
        background-color: darken($orange, 10%);
    }

}

.btn-readmore {
    font: 400 13px/1 $sub-font;
    color: $blue-primary;
    background-color: $blue-light;
    border-radius: 50px;
    padding: 6px 24px;
    // min-width: 111px;
    &:hover {
        color: $blue-primary;
        // background-color: darken($blue-primary, 10%);
    }
    &:focus {
        box-shadow: none;
    }
}

.btn-seemore {
    font: 400 17px/1 $main-font;
    color: $blue-primary;
    background-color: white;
    border: 2px solid $blue-primary;
    border-radius: 50px;
    padding: 10px 44px;
    min-width: 310px;
    &:hover {
        background-color: $blue-primary;
        color: white;
    }
    &:focus {
        box-shadow: none;
    }
}

.btn-howtouseit {
    font: 400 13px/1 $sub-font;
    color: $blue-primary;
    background-color: transparent;
    border: 1px solid $blue-primary;
    border-radius: 50px;
    padding: 6px 24px;
    margin-right: 10px;
    // min-width: 310px;
    &:hover {
        // background-color: $blue-primary;
        color: $blue-primary;
    }
    &:focus {
        box-shadow: none;
    }
}