/* colors */
$blue-primary: #0DAD9C;
$blue-second: #1CDCC8;
$blue-light: #D8F0EE;
$red: #FF4A53;
$orange: #F08655;
$dark: #333;

$dark-second: #40403F;
$gray: #747272;
$gray-second: #D3D7DA;

$accent: $blue-primary;